.read-item-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.read-item-card:hover .read-item-title h3 {
  color: #ff0000;
  transition: color 0.8s ease;
}

.read-item-image {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.read-item-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.read-item-image:hover::after {
  opacity: 1;
}

.read-item-image img {
  width: 100%;
  height: 100%;
}

.read-item-info {
  width: 100%;
  height: 20%;
  color: white;
  overflow: hidden;
  padding: 2%;
  display: flex;
  flex-direction: column;
}
.read-item-title {
  height: 40%;
  width: 100%;
}
.read-item-title h3 {
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.read-item-type {
  height: 60%;
  width: 100%;
}
